*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}


#flipkart{
    height: 50px;
    color: rgb(65, 65, 235);
    background-color: yellow;
    padding-left: 20px;
    padding-top: 5px;
}

.hero{
    height: 200px;
    padding: 200px;
    border: 0px solid black;
    background-image: url("./images/background\ image.jpg");
    background-size: contain;
    background-attachment: fixed;
    text-align: center;
    line-height: 40px;
}


#fashion{
    letter-spacing: 10px;
}


button{
    height: 30px;
    width: 90px;
    border: 0;
    color: white;
    background-color: green;
    border-radius: 10px;
    padding: 5px;
    margin:20px;

}

button:hover{
    background: linear-gradient(to right,#8fd3ff,#f28b82);
}


#featured{
    text-align: center;
    padding: 20px;
    letter-spacing: 8px;
}


.card{
    width:250px;
    height: 380px;
    background-color: #8fd3ff;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    padding: 10px;
}


img{
    height: 200px;
    width: 200px;
}


.parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.card:hover{
    background: linear-gradient(to right,#f08080,#ffd1a4);
}


#made{
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    align-content: center;

}